footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 40px 0;
    
a:link {
  color: white; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lightgray;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: dodgerblue;
  background-color: transparent;
  text-decoration: underline;
}
}